<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flobby.boot.mybatis.mapper.ClazzMapper">
    <resultMap id="ClazzMap" type="Clazz">
        <id column="clazz_id" property="clazzId"/>
        <result column="clazz_name" property="clazzName"/>
        <collection property="students" ofType="top.flobby.boot.mybatis.entity.Student">
            <id column="student_id" property="studentId"/>
            <result column="student_name" property="studentName"/>
            <result column="hometown" property="hometown"/>
        </collection>
    </resultMap>
    <resultMap id="ClazzAllMap" type="Clazz">
        <id column="clazz_id" property="clazzId"/>
        <result column="clazz_name" property="clazzName"/>
        <association property="teacher" javaType="top.flobby.boot.mybatis.entity.Teacher">
            <id column="teacher_id" property="teacherId"/>
            <result column="teacher_name" property="teacherName"/>
        </association>
        <collection property="students" ofType="top.flobby.boot.mybatis.entity.Student">
            <id column="student_id" property="studentId"/>
            <result column="student_name" property="studentName"/>
            <result column="hometown" property="hometown"/>
        </collection>
    </resultMap>

    <select id="getClazzOneToMany" resultMap="ClazzMap" parameterType="int">
        select t.clazz_id, t.clazz_name, c.student_id, c.student_name, c.hometown
        from t_clazz t,
             t_student c
        where t.clazz_id = #{clazzId}
          and t.clazz_id = c.clazz_id
    </select>

    <select id="getClazzAllInfo" resultMap="ClazzAllMap" parameterType="int">
        select c.clazz_id, c.clazz_name, t.teacher_id, t.teacher_name, s.student_id, s.student_name, s.hometown
        from t_clazz c
                    left join t_student s on c.clazz_id = s.clazz_id
                    left join t_teacher t on c.clazz_id = t.clazz_id
        where c.clazz_id = #{clazzId}
    </select>
</mapper>